* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Avenir Next", sans-serif;
  font-size: 14px;
  overflow-x: hidden;
  /* TODO */
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

img {
  width: 100%; }

section {
  width: 100vw;
  height: 80vh;
  position: relative;
  top: 0;
  left: 0; }

p {
  text-align: left;
  margin-left: 25px;
  line-height: 1.7rem;
  font-size: 1.1rem; }

.section--intro {
  background: linear-gradient(to left bottom, #B7A7E8, #A595F8);
  color: #F5F5F5; }

.section--product {
  background-color: #F5F5F5;
  color: #2B2B2B; }

.section--team {
  background-color: #816ECC;
  color: #F5F5F5;
  height: 120vh; }

.section--footer {
  background-color: #F5F5F5;
  color: #2B2B2B; }

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.flex {
  display: flex;
  align-items: center;
  width: 66vw; }

.flex--team {
  align-items: flex-start;
  width: 75vw; }

.flex__item {
  margin: 0px 25px; }

.flex__item--team {
  width: 33%; }

.logo {
  width: 30vw;
  margin: auto; }

.tagline {
  font-size: 2.6rem;
  margin: 15px auto;
  font-weight: 100; }

.title {
  font-size: 2.6rem;
  margin: 0px auto 50px auto;
  font-weight: 100; }

.headshot {
  border-radius: 100%;
  border: 5px solid #E6D6FB;
  width: 10vw;
  margin: auto; }

.name {
  font-size: 1.3rem;
  text-align: center;
  padding: 15px 0px; }

.bio {
  text-align: left; }

.contact {
  color: #816ECC;
  font-weight: 600;
  font-size: 2.6rem; }

.cross {
  position: absolute;
  bottom: -40vw;
  left: -10vw;
  width: 80vw;
  opacity: 0.7; }

.bandaid {
  width: 25vw; }

@media screen and (max-width: 760px) {
  html {
    font-size: 13px; }

  section {
    height: 95vh; }

  .logo {
    width: 60vw; }

  .flex {
    display: block;
    width: 80vw; }

  .section--team {
    height: 300vh; }

  .headshot {
    width: 30vw; }

  .flex__item--team {
    width: 80vw;
    margin: 50px 0; }

  .name {
    font-size: 1.8rem; }

  .bandaid {
    margin: auto;
    width: 50vw; }

  p {
    margin: 50px 0px; } }
@media screen and (max-width: 680px) {
  html {
    font-size: 12px; }

  section {
    height: 95vh; }

  .logo {
    width: 60vw; }

  .flex {
    display: block;
    width: 80vw; }

  .section--team {
    height: 300vh; }

  .headshot {
    width: 30vw; }

  .flex__item--team {
    width: 80vw;
    margin: 50px 0; }

  .name {
    font-size: 1.8rem; }

  .bandaid {
    margin: auto;
    width: 50vw; }

  p {
    margin: 50px 0px; } }
@media screen and (max-width: 480px) {
  html {
    font-size: 11px; }

  section {
    height: 95vh; }

  .logo {
    width: 60vw; }

  .flex {
    display: block;
    width: 80vw; }

  .section--team {
    height: 300vh; }

  .headshot {
    width: 40vw; }

  .flex__item--team {
    width: 80vw;
    margin: 50px 0; }

  .name {
    font-size: 1.8rem; }

  .bandaid {
    margin: auto;
    width: 50vw; }

  p {
    margin: 50px 0px; } }

/*# sourceMappingURL=style.css.map */
